#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

#root::-webkit-scrollbar {
  display: none;
}
.page-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
